<!DOCTYPE html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<style type="text/css">
{conteudoCss}
</style>
</head>
<body>

	<table style="border: 0; margin-bottom: 40px">
		<tbody>

			<tr>
				<td
					style="color: #52774C; font-family: arial black; font-size: 25px; text-align: left; font-weight: bold;">PLASTECNO</td>
				<td
					style="color: #52774C; font-family: arial black; font-size: 12px; text-align: right">www.plastecno.com.br</td>
			</tr>
			<tr>
				<td
					style="color: #52774C; font-family: arial black; font-size: 15px; text-align: left; font-weight: bold;">Representações
					e Com. LTDA.</td>
				<td
					style="color: #52774C; font-family: arial black; font-size: 8px; text-align: right">
					R. Alvarenga Peixoto, 487 – CEP: 05095-010 – Vila Anastácio – São Paulo – SP</td>
			</tr>
			<tr>
				<td colspan="2"
					style="color: #52774C; font-family: arial black; font-size: 8px; text-align: right">Contato:
					(11) 3021-9600 ou 3024-3330</td>
			</tr>
		</tbody>
	</table>

	<table>
		<thead>
			<tr>
				<th colspan="6">{titulo}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="label">{tipoProprietario}:</td>
				<td colspan="5">{pedido.proprietario.nomeCompleto} - {pedido.proprietario.email}</td>
			</tr>
			<tr>
				<td class="label">Número:</td>
				<td>{pedido.id}</td>
				<td class="label">Ped. Cli.:</td>
				<td>{pedido.numeroPedidoCliente}</td>
				<td class="label">{tipoRelacionamento}:</td>
				<td>{pedido.representada.nomeFantasia}</td>
			</tr>
			<tr>
				<td class="label">Cliente:</td>
				<td colspan="3">{pedido.cliente.nomeCompleto}</td>
				<td class="label">Contato:</td>
				<td >{pedido.contatoFormatado}</td>
			</tr>
			<tr>
				<td class="label" style="width: 70px">Email NFe:</td>
				<td colspan="5">{pedido.cliente.email}</td>
			</tr>
			<tr>
				<td class="label" style="width: 70px">Endereço:</td>
				<td colspan="5">{logradouroFaturamento}</td>
			</tr>
			<tr>
				<td class="label">CNPJ:</td>
				<td>{pedido.cliente.cnpj}</td>
				<td class="label">CPF:</td>
				<td>{pedido.cliente.cpf}</td>
				<td class="label">Insc. Est.:</td>
				<td>{pedido.cliente.inscricaoEstadual}</td>
			</tr>
			<tr>
				<td class="label">Finalidade:</td>
				<td>{pedido.finalidadePedido.descricao}</td>
				<td class="label">Pagamento:</td>
				<td>{pedido.formaPagamento}</td>
				<td class="label">Validade:</td>
				<td>7 dias</td>
			</tr>
			<tr>
				<td class="label">Tip. Entr.:</td>
				<td>{pedido.tipoEntrega.descricao}</td>
				<td class="label">Data Envio:</td>
				<td>{pedido.dataEnvioFormatada}</td>
				<td class="label">Data Entrega:</td>
				<td>{pedido.dataEntregaFormatada}</td>
			</tr>
		</tbody>
	</table>
	
	<table class="listagem">
		<thead>
			<tr>
				<th class="descricaoTabela" colspan="11">Lista de Itens do
					Orçamento</th>
			</tr>
		</thead>
		<thead>
			<tr>
				<th>Item</th>
				<th>Qtde.</th>
				<th>Descrição</th>
				<th>{tipoPedido}</th>
				<th>Preço (R$)</th>
				<th>Unid. (R$)</th>
				<th>Total (R$)</th>
				<th>IPI (%)</th>
				<th>ICMS (%)</th>
				<th>Prazo (dias)</th>
				<th>NCM/CST</th>
			</tr>
		</thead>
		<tbody>
			<!-- O ALGORITMO DE GERACAO DE RELATORIO ENTENDERA APENAS QUANDO AS COLUNAS ESTIVEREM ESCRITAS TODAS NA MESMA LINHA, CASO CONTRARIO TEREMOS PROBLEMAS NA GERACAO DO PDF -->
			<tr{listaItem}><td style="text-align: center">{sequencial}</td><td style="text-align: center">{quantidade}</td><td style="text-align: left">{descricao}</td><td style="text-align: center">{tipoVenda}</td><td style="text-align: center">{precoVendaFormatado}</td><td style="text-align: center">{precoUnidadeFormatado}</td><td style="text-align: center">{precoItemFormatado}</td><td style="text-align: center">{aliquotaIPIFormatado}</td><td style="text-align: center">{aliquotaICMSFormatado}</td><td style="text-align: center">{prazoEntrega}</td><td style="text-align: center">{ncm}<br></br>/{tipoCst.codigo}</td></tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="5"></td>
				<td colspan="2" style="text-align: right;">TOTAL SEM IPI:</td>
				<td colspan="3" style="text-align: left;">R$
					{pedido.valorPedidoFormatado}</td>
			</tr>
			<tr>
				<td colspan="5"></td>
				<td colspan="2" style="text-align: right;">TOTAL COM IPI:</td>
				<td colspan="3" style="text-align: left;">R$
					{pedido.valorPedidoIPIFormatado}</td>
			</tr>
		</tfoot>
	</table>
</body>
</html>